# --- Python Temporary Files ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# --- PyInstaller Build Files (Generated during EXE creation) ---
build/
dist/
*.spec

# --- Conversion Test Outputs (Track source code only) ---
*.pdf
*.md
!README.md  # Keep README.md tracked

# --- OS and IDE Specific Settings ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# etc
py_history/
md_Save/
tests/