# --- Python Temporary Files ---
__pycache__/
*.py[codz]
*$py.class
.venv/
venv/
env/

# --- PyInstaller & Build Files ---
build/
dist/
*.spec
*.egg-info/
.eggs/

# --- IDE & OS Specific Settings ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Conversion Test Outputs ---
*.pdf
*.md
!README.md

# --- etc ---
py_history/
md_Save/
/tests/sample.pdf

# --- Environment & Secrets ---
.env